<ion-header>
  <ion-toolbar>
    <ion-title>
      Resources
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <a href="https://www.satipasala.org/mindful/guidelines-for-sati-pasela-overseas-coordinators/">
          Guidelines for Overseas Coordinators
        </a>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
          <a href="https://www.satipasala.org/guidelines-for-sati-sarasaviya-instructors/">
            Guidelines for Sati Sarasaviya Instructors
          </a>
        </ion-label>
        <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label>
        <a href="https://www.satipasala.org/mindful/mindfulness-self-assessment-questionnaires/">
          Self-Assessment Questionnaires
        </a>
      </ion-label>
      <ion-icon name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
