<ion-header>
  <ion-toolbar>
    <ion-title>
      News
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let post of newsPosts">
      <ion-img src="{{ post.jetpack_featured_media_url }}"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>{{ post.date | date:'longDate' }}</ion-card-subtitle>
        <ion-card-title [innerHTML]="post.title.rendered"></ion-card-title>
      </ion-card-header>
      <ion-card-content [innerHTML]="post.excerpt.rendered">
      </ion-card-content>
    </ion-card>
</ion-content>
